<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/plamandb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="com.locar.pipe.modelos.Departamento" />
		<mapping class="com.locar.pipe.modelos.Colaborador" />
		<mapping class="com.locar.pipe.modelos.OrdemServico" />
		<mapping class="com.locar.pipe.modelos.SolicitacaoServico" />
		<mapping class="com.locar.pipe.modelos.Material"/>
	</session-factory>
</hibernate-configuration>