@CHARSET "ISO-8859-1";
.textoCorpo {
	font-weight: bold;
	font-size: 18px;
}

.header {
	color: white;
	background-color: #000000;
	margin: 0;
}

.zerarFieldSet {
	background-color: white;
}

.zerarFieldSet2 {
	margin: 0;
	padding: 0;
	background-color: #7AC5CD;
}

.checkboxAlign{
	float: left;
}

.textoAlign{
	float: left;
	text-transform: uppercase;
	font-weight: bolder;
}

.cabecalho{
	background-color: black;
	font-weight: bold;
	color: white;	
}

.coluna1{
	width: 150px;
	text-align: center;
}

.coluna2{
	width: 150px;
	text-align: center;
}

.coluna3{
	width: 150px;
	text-align: center;
}

.coluna4{
	width: 150px;
	text-align: center;
}

.linha1{
	font-weight: bolder;
	background-color: black;
	color: white;
}

.linha2{
	
}