@CHARSET "UTF-8"
.cabecalho{
	background-color: black;
	color: white;
}

.tabelaCentro{
	border: 1px solid;
}

.colunaNome{
	text-align: center;
	margin-right:50px;
	width: 100px;
	height: 40px;
}

.colunaSigla{
	text-align: center;
	margin-right:50px;
	width: 100px;
	height: 40px;
}

.formularioCentroTrabalho{
	text-transform: uppercase;
}