@CHARSET "ISO-8859-1";

.tabela {
	font-family: Arial;
	font-size: 14px;
}

.cabecalho {
	background-color: black;
	color: white;
}

.impar {
	background-color: #7AC5CD;
}

.par {
	background-color: white;
}

.textoCorpo {
	font-weight: bold;
	font-size: 18px;
}

.header {
	color: white;
	background-color: #000000;
	margin: 0;
}

td.matricula{
	width: 50px;
}

td.nome{
	
}

td.setor{
	
	width: 100px;
}

td.funcao{
	width: 50px;
}
