@CHARSET "ISO-8859-1";

.cabecalho{
	
	background-color: black;
	font-weight: bold;
	color: white;
}

.textoCorpo {
	font-weight: bold;
	font-size: 18px;
}

.header {
	color: white;
	background-color: #000000;
	margin: 0;
}

.tabela{
	width: 100%;
	font-family: Arial;
	font-size: 14px;
}

td.local{
	width: 100px;
	text-align: center;
	height: 40px;
}

td.equipamento{
	width: 100px;
	text-align: center;
	height: 40px;
}

td.tipo{
	width: 60px;
	text-align: center;
	height: 40px;
}

td.ciclo{
	width: 80px;
	height: 40px;
	text-align: center;
}
td.tarefa{
	text-align: center;
	height: 40px;
}

td.setor{
	width: 70px;
	height: 40px;
	text-align: center;
}

td.executor{
	width: 50px;
	text-align: center;
	height: 40px;
}

td.expedicao{
	width: 50px;
	height: 40px;
	text-align: center;
}

td.status{
	width: 60px;
	height: 40px;
	text-align: center;
	color: white;
}

td.funcoes{
	width: 30px;
	height: 40px;
	text-align: center;
}

td.nOs{
	width: 80px;
	text-align: center;
	height: 40px;
}

.par{
	background-color: #F0F8FF;
}

.impar{
	background-color: white;
}

.tituloTable{
	border: 1px solid;
	height:40px;
	padding: 2px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 18px;
	padding-bottom: 4px;
}

.campoFiltrar{
	color: white;
	background-color: black;
	padding: 10px;
	
}

.fontesprincipais{
	font-weight: normal;
	font-size: 14px;
}

.EMERGENCIAL {
	background-color: #FF0000;
}

.PROGRAMADA {
	background-color: #54FF9F;
}

.EXTERNO {
	background-color: #008B8B;
	color: white;
}

.ABERTA {
	background-color: #00CD00;
	width: 60px;
	height: 40px;
	text-align: center;
	color: white;
}

.ANDAMENTO {
	background-color: #EEEE00;
	width: 60px;
	height: 40px;
	text-align: center;
	color: white;
}

.CANCELADA {
	background-color: #EE9A00;
	width: 60px;
	height: 40px;
	text-align: center;
	color: white;
}

.ATRASO {
	background-color: #009ACD;
	width: 60px;
	height: 40px;
	text-align: center;
	color: white;
}

.ENCERRADA {
	background-color: #BEBEBE;
	width: 60px;
	height: 40px;
	text-align: center;
	color: white;
}

.PENDENTE {
	background-color: #FF0000;
	width: 60px;
	height: 40px;
	text-align: center;
	color: white;
}
